# plants.ipynb
Author: UFO Software, LLC<br>
Created: Sunday, February 14, 2021 15:17<br>

License GPLv3+: GNU GPL version 3 or later <https://gnu.org/licenses/gpl.html> <br>
This is free software: you are free to change and redistribute it.<br>
There is NO WARRANTY, to the extent permitted by law.<br>
<br>
Reads in the Plants_0.csv file from the [December 2020 WA State Traceability Data](https://lcb.app.box.com/s/fnku9nr22dhx04f6o646xv6ad6fswfy9?page=1)<br>
The file has a partial column that casue a Pandas error; this notebook compensates for that by only reading the valid columns bys using the usecols parameter of the read_csv function.

In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
import os

import seaborn as sns
import matplotlib.pyplot as plt
from pandas.plotting import scatter_matrix

# change to point to the data's location
file_path = Path('dec-2020')
pd.set_option('display.max_columns', None)

In [3]:
# The Plants_0.csv file has a parital column that pandas errors out on.  To fix this just read in the valid columns using the usecols paramter of the read_csv function.
cols = ['global_id',
        'created_at',
        'mme_id',
        'user_id',
        'external_id',
        'deleted_at',
        'inventory_id',
        'updated_at',
        'batch_id',
        'area_id',
        'mother_plant_id',
        'plant_created_at',
        'plant_harvested_at',
        'is_initial_inventory',
        'origin',
        'stage',
        'strain_id',
        'is_mother',
        'last_moved_at',
        'plant_harvested_end_at',
        'legacy_id']

# parse the columns containing dates
date_cols = ['created_at',
             'deleted_at',
             'updated_at',
             'plant_created_at',
             'plant_harvested_at',
             'last_moved_at',
             'plant_harvested_end_at']

plants_df = pd.read_csv(file_path / 'Plants_0.csv', sep = '\t', encoding = 'utf-16', usecols = cols, parse_dates = date_cols)
plants_df.head()

/Users/alienfoo/anaconda3/envs/cds_env/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3156: DtypeWarning: Columns (4,6,10,20) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,global_id,created_at,mme_id,user_id,external_id,deleted_at,inventory_id,updated_at,batch_id,area_id,mother_plant_id,plant_created_at,plant_harvested_at,is_initial_inventory,origin,stage,strain_id,is_mother,last_moved_at,plant_harvested_end_at,legacy_id
0,WAJ412598.PL1,2018-01-31 17:40:18,WAWA1.MMDJ,WAWA1.USAM,NaN,NaT,NaN,2020-10-05 05:13:07,WAJ412598.BAKRWNH,WAJ412598.AR5XZL,NaN,1900-01-01,1900-01-01,True,plant,destroyed,WAJ412598.ST7150,False,NaT,NaT,4125980000001207.0
1,WAJ412598.PL2,2018-01-31 17:40:20,WAWA1.MMDJ,WAWA1.USAM,NaN,NaT,NaN,2020-10-05 05:13:06,WAJ412598.BAKRWNH,WAJ412598.AR5XZL,NaN,1900-01-01,1900-01-01,True,plant,destroyed,WAJ412598.ST7150,False,NaT,NaT,4125980000001422.0
2,WAJ412598.PL3,2018-01-31 17:40:24,WAWA1.MMDJ,WAWA1.USAM,NaN,NaT,NaN,2020-10-05 05:13:05,WAJ412598.BAKRWNH,WAJ412598.AR5XZL,NaN,1900-01-01,1900-01-01,True,plant,destroyed,WAJ412598.ST7150,False,NaT,NaT,4125980000002064.0
3,WAJ412598.PL4,2018-01-31 17:40:28,WAWA1.MMDJ,WAWA1.USAM,NaN,NaT,NaN,2020-10-05 05:13:04,WAJ412598.BAKRWNH,WAJ412598.AR5XZL,NaN,1900-01-01,1900-01-01,True,plant,destroyed,WAJ412598.ST7150,False,NaT,NaT,4125980000003419.0
4,WAJ412598.PL5,2018-01-31 17:40:25,WAWA1.MMDJ,WAWA1.USAM,NaN,NaT,NaN,2020-10-20 08:12:35,WAJ412598.BAL2EFP,WAJ412598.AR5XZL,NaN,1900-01-01,1900-01-01,True,plant,destroyed,WAJ412598.STX,False,NaT,NaT,4125980000003424.0

In [4]:
plants_df.tail()

,global_id,created_at,mme_id,user_id,external_id,deleted_at,inventory_id,updated_at,batch_id,area_id,mother_plant_id,plant_created_at,plant_harvested_at,is_initial_inventory,origin,stage,strain_id,is_mother,last_moved_at,plant_harvested_end_at,legacy_id
22185200,WAJ414395.PLD9BXP,2021-01-06 12:32:36,WAWA1.MMBP,WAWA1.USLT5,NaN,NaT,NaN,2021-01-06 12:32:36,WAJ414395.BAMFJ6T,WAJ414395.ARCZT,NaN,1900-01-01,1900-01-01,False,clone,growing,WAJ414395.STQDZY,False,NaT,NaT,NaN
22185201,WAJ414395.PLD9BXQ,2021-01-06 12:32:36,WAWA1.MMBP,WAWA1.USLT5,NaN,NaT,NaN,2021-01-06 12:32:36,WAJ414395.BAMFJ6T,WAJ414395.ARCZT,NaN,1900-01-01,1900-01-01,False,clone,growing,WAJ414395.STQDZY,False,NaT,NaT,NaN
22185202,WAJ414395.PLD9BXR,2021-01-06 12:32:36,WAWA1.MMBP,WAWA1.USLT5,NaN,NaT,NaN,2021-01-06 12:32:36,WAJ414395.BAMFJ6T,WAJ414395.ARCZT,NaN,1900-01-01,1900-01-01,False,clone,growing,WAJ414395.STQDZY,False,NaT,NaT,NaN
22185203,WAJ414395.PLD9BXS,2021-01-06 12:32:36,WAWA1.MMBP,WAWA1.USLT5,NaN,NaT,NaN,2021-01-06 12:32:36,WAJ414395.BAMFJ6T,WAJ414395.ARCZT,NaN,1900-01-01,1900-01-01,False,clone,growing,WAJ414395.STQDZY,False,NaT,NaT,NaN
22185204,WAJ414395.PLD9BXT,2021-01-06 12:32:36,WAWA1.MMBP,WAWA1.USLT5,NaN,NaT,NaN,2021-01-06 12:32:36,WAJ414395.BAMFJ6T,WAJ414395.ARCZT,NaN,1900-01-01,1900-01-01,False,clone,growing,WAJ414395.STQDZY,False,NaT,NaT,NaN